@import "../../../style-config/mixins.scss";
@import "../../../style-config/variable.scss";

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 538px;
  width: calc(100% / 3);
  border-radius: 16px;
  overflow: hidden;
  margin-right: 20px;
  .image-section {
    overflow: hidden;
    width: 100%;
    height: 250px;
    @include transition-ease;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
      height: 100%;
    }
  }
  .content-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px;
    padding-bottom: 55px;
    position: relative;
    background-color: $white;
    @include transition-ease;
    .info-bar {
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
      align-items: center;
      .user-name,
      .posted-date {
        @include typography(18px, 500, 20px);
      }
    }
    h3 {
      margin-bottom: 10px;
      @include ellipsis;
    }
    p {
      color: $black-light;
      @include ellipsis;
    }
    .readmore-cta {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 30px;
      left: 30px;
      cursor: pointer;
      .text {
        @include typography(18px, 500, 20px);
      }
    }
  }
  &:hover {
    .image-section {
      transform: scale(1.2);
    }
    .content-section {
      background-color: $black-light;
      color: $white;
    }
    p {
      color: $white;
    }
  }
}
